* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.slideshow-container {
  height: 364px;
  width: 384px;
  margin: 10px auto;
  padding-right: 20px;
}

.row {
  clear: both;
}

.col {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background: rgb(211, 211, 211);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  cursor: pointer;
  background: #fff;
  border: 2px solid #000;
  overflow: hidden;
}

.active:hover {
  background: #000;
  color: #fff;
}

.delete {
  position: absolute;
  top: 0px;
  right: 1px;
  text-decoration: none;
  font-size: 8px;
  color: red;
  text-shadow: 0 1px 0 #fff;
}

.delete:hover {
  cursor: pointer;
}

/* #del {
  background-color: #983232;
  color: #fff;
  border-radius: 5px;
} */

#new-page {
  background-color: #63D1F4;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5em;
}

#new-page:hover {
  cursor: pointer;
  background-color: #4fa7c3;
}

.panel-nav {
  text-align: center;
  margin-top: -10px;
}

.circle {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
}

form {
  text-align: center;
  margin-bottom: 8px;
}

input {
  border: 1px solid #00a300;
  border-radius: 3px;
  background: none;
  padding: 3px 3px;
}

input:focus {
  border: 2px solid #006100;
  outline: none;
}

input[name=shortcut] {
  width: 140px;
}

form button {
  width: 50px;
  border-radius: 10px;
  background: #00a300;
  color: #FFF;
  padding: 5px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

form button:hover,
form button:focus {
  cursor: pointer;
  outline: none;
  background: #006100;
}
